body {
    text-align: center;
}

h2 {
    text-align: center;
}

ol {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

ul {
    width: fit-content;
    margin: 100 auto;
    text-align: right;
}

.container {
    text-align: center;
}

button {
  display: inline-block;
  margin: 100px;
}

